<header class="top-nav">
  <nav>
    <div class="nav-container">
      <h1 class="logo">Gustavo & Maria</h1>
      <button class="menu-btn" (click)="toggleMenu()">
        <span class="material-icons">{{ menuOpen ? "close" : "menu" }}</span>
      </button>
    </div>
    <ul class="nav-links" [class.open]="menuOpen">
      <li><a (click)="scrollToSection('inicio')">Início</a></li>
      <li><a (click)="scrollToSection('programacao')">Programação</a></li>
      <li><a (click)="scrollToSection('local')">Local</a></li>
      <li><a (click)="scrollToSection('presentes')">Lista de Presentes</a></li>
    </ul>
  </nav>
</header>
