@font-face {
  font-family: "handwriting";
  src: url("/font/handfont.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "cinzel";
  src: url("/font/Cinzel-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "cinzelb";
  src: url("/font/Cinzel-Bold.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MonetaRegular";
  src: url("/font/MonetaRegular.ttf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MonetaBold";
  src: url("/font/MonetaBold.ttf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MonetaBlack";
  src: url("/font/MonetaBlack.ttf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
